
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-page">
    <ion-card class="welcome-card">
      <img src="/assets/imgs/logo.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to The Book Market</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card-subtitle color="secondary" >Slide View</ion-card-subtitle>
   <ion-slides pager>
     <ion-slide>
       <ion-toolbar>
         <ion-button end>
            <ion-button href="view" color="primary">Skip</ion-button>
         </ion-button>
       </ion-toolbar>
       <img src="assets/imgs/img1.jpg" class="slide-image"/>
     </ion-slide>

     <ion-slide >
      <ion-toolbar>
        <ion-button end>
            <ion-button href="view" color="primary">Skip</ion-button>
        </ion-button>
      </ion-toolbar>
      <img src="assets/imgs/img2.jpg" class="slide-image" />
    </ion-slide>

    <ion-slide>
      <ion-toolbar>
        <ion-button end>
          <ion-button href="view" color="primary">Skip</ion-button>
        </ion-button>
      </ion-toolbar>
      <img src="assets/imgs/img3.jpg" class="slide-image" />

    </ion-slide>
   
    <ion-slide>
      <ion-toolbar>
        <ion-button end>
          <ion-button href="view" color="primary">Skip</ion-button>
        </ion-button>
      </ion-toolbar>
      <img src="assets/imgs/img6.png" class="slide-image" />
     
    </ion-slide>

    <ion-slide>
      <ion-toolbar>
        <ion-button end>
          <ion-button href="view" color="primary">Skip</ion-button>
        </ion-button>
      </ion-toolbar>
      <img src="assets/imgs/img7.jpg" class="slide-image" />

    </ion-slide>

    <ion-slide>
      <ion-toolbar>
        <ion-button end>
          <ion-button href="view" color="primary">Skip</ion-button>
        </ion-button>
      </ion-toolbar>
      <img src="assets/imgs/img1.jpg" class="slide-image" />

    </ion-slide>

   </ion-slides>

   
</ion-content>
